/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* Begin site styles below */
html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  line-height: 24px;
}

h1 {
  font-weight: bold;
}

input,
button {
  font-size: inherit;
  line-height: inherit;
  padding: 6px;
  background-color: #EEE;
  color: #222;
  border: 1px solid #DDD;
  border-radius: 5px;
}
input {
  background-color: inherit;
}
button:disabled {
  color: #CCC;
}
#answer-button {
  background-color: green;
  color: #EEE;
}

#chat-form {
  display: flex;
}
#chat-form > input {
  outline: none;
}
#chat-form > input:focus {
  border-color: #A5F;
}
#chat-form > button {
  width: 5%;
  margin-left: 6px;
}
#chat-form > * {
  flex: 1 1 auto;
}

aside.chat {

}
ul#chat-log {
  height: 15vh;
  overflow: scroll;
  margin-bottom: 6px;
  display: flex;
  flex-flow: column nowrap;
  padding: 6px;
}
ul#chat-log li {
  margin-bottom: 6px;
  padding: 6px;
  background-color: #CCC;
  border-radius: 6px;
  max-width: 60%;
}
ul#chat-log li.peer {
  margin-right: auto;
}
ul#chat-log li.self {
  margin-left: auto;
  background-color: #A5F;
  color: #FFF;
}


#header,
#app {
  box-sizing: border-box;
  padding-top: 12px;
  max-width: 500px;
  margin: 0 auto;
}
#header {
  padding: 12px;
}
.videos {
  position: relative;
}
.videos figcaption {
  padding: 12px;
}
video {
  display: block;
  box-sizing: border-box;
  width: 100%;
  background-color: #222;
  border: 1px solid #DDD;
}
#self-video {
  position: absolute;
  width: 20%;
  top: 12px;
  right: 12px;
}

/* Battleship CSS */
#game-board ol {
  display: grid;
  grid-template-columns: repeat(10,1fr);
  grid-template-rows: repeat(10,1fr);
  grid-gap: 2px;
}
#game-board {
  background: #DDD;
}
.ocean {
  padding-top: 3vw;
}
.targeting > li {
  background-color: #0C0;
  padding-top: 100%; /* Hack to get fully responsive squares */
}
.ocean > li {
  background-color: #06F;
  z-index: 0;
  padding-top: 100%;
}
#targeting-console {
  font-family: Monaco, "Courier New", Courier, monospace;
  margin-top: 2px;
  padding: 3px;
  font-weight: bold;
  background: #050;
  color: #EEE;
  display: inline-block;
}
#targeting-console::before {
  content: "> "
}
/*
  To have ships overlap ocean, it looks
  like it's necessary to explicitly place
  each list item on the grid; otherwise,
  the ships bump them out of the way.
*/
li[data-coordinates^="a"] {
  grid-row-start: 1;
}
li[data-coordinates^="b"] {
  grid-row-start: 2;
}
li[data-coordinates^="c"] {
  grid-row-start: 3;
}
li[data-coordinates^="d"] {
  grid-row-start: 4;
}
li[data-coordinates^="e"] {
  grid-row-start: 5;
}
li[data-coordinates^="f"] {
  grid-row-start: 6;
}
li[data-coordinates^="g"] {
  grid-row-start: 7;
}
li[data-coordinates^="h"] {
  grid-row-start: 8;
}
li[data-coordinates^="i"] {
  grid-row-start: 9;
}
li[data-coordinates^="j"] {
  grid-row-start: 10;
}
li[data-coordinates$="0"] {
  grid-column-start: 1;
}
li[data-coordinates$="1"] {
  grid-column-start: 2;
}
li[data-coordinates$="2"] {
  grid-column-start: 3;
}
li[data-coordinates$="3"] {
  grid-column-start: 4;
}
li[data-coordinates$="4"] {
  grid-column-start: 5;
}
li[data-coordinates$="5"] {
  grid-column-start: 6;
}
li[data-coordinates$="6"] {
  grid-column-start: 7;
}
li[data-coordinates$="7"] {
  grid-column-start: 8;
}
li[data-coordinates$="8"] {
  grid-column-start: 9;
}
li[data-coordinates$="9"] {
  grid-column-start: 10;
}
li.miss,
li.hit {
  z-index: 10;
  border-radius: 100%;
  margin: .7vw;
  background-color: white;
  padding-top: 0;
}
li.hit {
  background-color: red;
}

li[class^="ship-"] {
  background-color: #777;
  border: .5vw solid #444;
  z-index: 2;
  padding-top: 0;
}

/* Make our boats boat-shaped! */
.v {
  border-top-left-radius: 80%;
  border-bottom-left-radius: 80%;
  border-top-right-radius: 30%;
  border-bottom-right-radius: 30%;
}

.h {
  border-bottom-left-radius: 80%;
  border-bottom-right-radius: 80%;
  border-top-right-radius: 30%;
  border-top-left-radius: 30%;
}

/* Change up the bow/stern when there are adjacent orientations in the markup */
.v + .v {
  border-top-right-radius: 80%;
  border-bottom-right-radius: 80%;
  border-top-left-radius: 30%;
  border-bottom-left-radius: 30%;
}

.h + .h {
  border-top-left-radius: 80%;
  border-top-right-radius: 80%;
  border-bottom-right-radius: 30%;
  border-bottom-left-radius: 30%;
}
